<h1>StaticPages#home</h1>
<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "ユーザー一覧", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "最新のピック", '#', class: "btn btn-lg btn-primary" %>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to "メタをつくる", sign_path, class: "btn btn-lg btn-primary" %>
<%= link_to "メタを探す", "#", class: "btn btn-lg btn-primary" %>
<%= link_to "テスト用", tesuto_path, class: "btn btn-lg btn-primary" %>