<style>
  li, a ,h1{
    text-align: left;
  }
</style>
<h1>StaticPages#home</h1>
<li><%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "ユーザーを探す", usercon_path, class: "btn btn-lg btn-primary" %>
<br><br>
<%= link_to "メタをつくる", daiichi_path, class: "btn btn-lg btn-primary" %>
<%= link_to "メタを探す", metamonshow_path, class: "btn btn-lg btn-primary" %>
<br><br>
<%= link_to "テンプレートを探す", tempcon_path, class: "btn btn-lg btn-primary" %>
<%= link_to "テンプレートを作る", tesuto_path, class: "btn btn-lg btn-primary" %>
</li>