<head>
<!-- 他のタグ -->
  <%= csrf_meta_tags %>
</head>
<h1>Counter</h1>
 <%= @special_champ.name %><% if @special_champ.image.attached? %>
  <%= image_tag @special_champ.image.variant(resize_to_fill: [100, 100]).processed, class: "mr-3", style: "width: 100px; height: 100px;", data: { name1: @special_champ.name } %>
<% end %>が有利な相手を右に，不利な相手を左にドラッグしてください。
<br>
<% @other_champs.each do |champ| %>
  <%= champ.name %>
  <% if champ.image.attached? %>
    <% style = if @positions[champ.name]
                 "position: absolute; left: #{@positions[champ.name][:x] + 500}px; top: #{@positions[champ.name][:y] + 500}px; width: 60px; height: 60px;"
               else
                 "width: 60px; height: 60px;"
               end %>
    <%= image_tag champ.image.variant(resize_to_fill: [60, 60]).processed, class: "mr-3 draggable", style: style, data: { name2: champ.name } %>
  <% end %>
<% end %>
<div class="container">
  <div class="disadvantage">Disadvantage</div>
  <div class="droppable" style="border: 2px solid black; width: 80%; height: 500px; margin: auto;"></div>
  <div class="advantage">Advantage</div>
</div>
<div id="x-coordinate"></div>
<div id="name1"></div>
<%= link_to "完成", scoeasy_path, class: "btn btn-lg btn-primary" %>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
$(function() {
  var name1 = '<%= @special_champ.name %>';

  function positionDraggableElements() {
    $(".draggable").each(function() {
      var name2 = $(this).data('name2');
      var draggableElement = $(this);

      $.ajax({
        type: 'GET',
        url: '/get_position',
        data: { name1: name1, name2: name2 },
        success: function(response) {
          var droppableOffset = $('.droppable').offset();
          var droppableCenterX = droppableOffset.left + $('.droppable').width() / 2;
          var droppableCenterY = droppableOffset.top + $('.droppable').height() / 2;
          var xCoordinate = response.x + droppableCenterX - draggableElement.width() / 2;
          var yCoordinate = response.y + droppableCenterY - draggableElement.height() / 2;
          draggableElement.css({ left: xCoordinate, top: yCoordinate });
        }
      });
    });
  }

  positionDraggableElements();

  $(window).resize(positionDraggableElements);

  $(".draggable").draggable({
    revert: "invalid",
    drag: function(event, ui) {
      var xCoordinate = ui.offset.left - $('.droppable').offset().left - $('.droppable').width() / 2 + ui.helper.width() / 2;
      var yCoordinate = ui.offset.top - $('.droppable').offset().top - $('.droppable').height() / 2 + ui.helper.height() / 2;
      $('#x-coordinate').text('X Coordinate: ' + xCoordinate);
      var name2 = $(this).data('name2');
      $('#name1').text('Name: ' + name2);
    }
  });

  $(".droppable").droppable({
    drop: function(event, ui) {
      var data = {
        name1: '<%= @special_champ.name %>',
        name2: ui.draggable.data('name2'),
        x: ui.offset.left - $('.droppable').offset().left - $('.droppable').width() / 2 + ui.helper.width() / 2,
        y: ui.offset.top - $('.droppable').offset().top - $('.droppable').height() / 2 + ui.helper.height() / 2
      };

      $.ajax({
        url: '/update_or_create_data',
        method: 'POST',
        data: data,
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function(response) {
          console.log(response);
        }
      });
    }
  });
});
</script>
<style>
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantage, .disadvantage {
  width: 100px;  /* この値は必要に応じて調整してください */
}

.droppable {
  width: 500px;  /* 四角の幅 */
  height: 500px;  /* 四角の高さ */
  overflow: hidden;  /* 四角からはみ出た内容を非表示にする */
}

.draggable {
  width: 100px;  /* 画像の幅 */
  height: 100px;  /* 画像の高さ */
}
</style>
