<h1>Scores#new</h1>

<p>Find me in app/views/scores/new.html.erb</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: Score.new, url: create1_scores_path) do |f| %>
      <%= f.label :me %>
      <%= f.select :me, @sex2.pluck(:name) %>

      <%= f.label :synergy %>
      <%= f.select :enemy, @sex2.pluck(:name) %>

      <%= f.label :point %>
      <%= f.text_field :point %>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
    <%= form_with(model: Score.new, url: create2_scores_path) do |f| %>
      <%= f.label :advantage%>
      <%= f.select :me, @sex2.pluck(:name) %>

      <%= f.label :disadvantage %>
      <%= f.select :enemy, @sex2.pluck(:name) %>

      <%= f.label :point %>
      <%= f.text_field :point %>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
    <%= form_with(model: Score.new, url: create3_scores_path) do |f| %>
      <%= f.label :me%>
      <%= f.select :me, @sex2.pluck(:name) %>

      <%= f.label :situation %>
      <%= f.select :enemy, @situation.pluck(:name) %>

      <%= f.label :point %>
      <%= f.text_field :point %>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

synergy
  <% @synergy.each do |scoret| %>
  <%= content_tag :div, class: "score-item", style: "display: flex; align-items: center;" do %>
    <%= content_tag :div, "#{scoret.me}, #{scoret.enemy}, #{scoret.point},#{scoret.SC} ", class: "score-info", style: "flex: 1;" %>
    <%= button_to "Delete", score_path(scoret), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "flex-shrink: 0; margin-left: 0px;" %>
  <% end %>
<% end %>
counter
<% @counter.each do |scoret| %>
  <%= content_tag :div, class: "score-item", style: "display: flex; align-items: center;" do %>
    <%= content_tag :div, "#{scoret.me}, #{scoret.enemy}, #{scoret.point},#{scoret.SC} ", class: "score-info", style: "flex: 1;" %>
    <%= button_to "Delete", score_path(scoret), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "flex-shrink: 0; margin-left: 0px;" %>
  <% end %>
<% end %>
situation
<% @scomaps.each do |scoret| %>
  <%= content_tag :div, class: "score-item", style: "display: flex; align-items: center;" do %>
    <%= content_tag :div, "#{scoret.me}, #{scoret.enemy}, #{scoret.point},#{scoret.SC} ", class: "score-info", style: "flex: 1;" %>
    <%= button_to "Delete", score_path(scoret), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "flex-shrink: 0; margin-left: 0px;" %>
  <% end %>
<% end %>
tempid(debug)
<%=@userdoing%>
userid(debug)
<%=@userdoingtemp%>
<%@instahero=@hero%>
優先度
<% @instahero.each do |de| %>
    <li>
      <%= de.name %>, <%= de.priority%>  
    </li>
  <% end %>
  <% @sex2.each do |de| %>
  <%de.priority=0%>
  <% end %>
  <%= link_to "完成", metanew_path, class: "btn btn-lg btn-primary" %>
  <br></br>
  データの数
  <%=Score.count%>
  <div id="scores" data-scores="<%= @score.to_json %>"></div> 
<%= javascript_include_tag 'application' %>
<%= include_gon %>



<%= label_tag 'me1', 'Me1:' %>
<%= select_tag 'me1', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'me1' %>

<%= label_tag 'me2', 'Me2:' %>
<%= select_tag 'me2', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'me2' %>

<%= label_tag 'me3', 'Me3:' %>
<%= select_tag 'me3', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'me3' %>

<%= label_tag 'me4', 'Me4:' %>
<%= select_tag 'me4', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'me4' %>
<br>
<%= label_tag 'enemy1', 'Enemy1:' %>
<%= select_tag 'enemy1', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy1' %>

<%= label_tag 'enemy2', 'Enemy2:' %>
<%= select_tag 'enemy2', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy2' %>

<%= label_tag 'enemy3', 'Enemy3:' %>
<%= select_tag 'enemy3', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy3' %>

<%= label_tag 'enemy4', 'Enemy4:' %>
<%= select_tag 'enemy4', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy4' %>

<%= label_tag 'enemy5', 'Enemy5:' %>
<%= select_tag 'enemy5', options_for_select(@sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy5' %>
<br>


<button onclick="displayChampImage()">Display Image</button>

<div id="imageContainer"></div>
<div id="namesContainer"></div>
<div id="matchCountContainer"></div>
<script>
function displayChampImage() {



  var names = ['me1', 'me2', 'me3', 'me4', 'enemy1', 'enemy2', 'enemy3', 'enemy4', 'enemy5']
    .map(id => document.getElementById(id).value)
  document.getElementById('namesContainer').textContent = names;
  // @sex2のデータのnameとme1が一致する数を計算します。
 
  points=[]
  for (var i=0; i<gon.champ.length; i++) {
    points[i]=0
  }
  champs=[]
  for (var q=0; q<gon.champ.length; q++) {
    //champs[q]=String(gon.champ[q])
    champs[q]=gon.champ[q].name
  }
 //シナジーの処理
  for (var i=0; i<gon.synergy.length; i++) {
     for (var j=0; j<4; j++) {
      if (String(gon.synergy[i].me) == String(names[j])) {
      horizon=champs.indexOf(gon.synergy[i].enemy);
      points[horizon]=points[horizon]+gon.synergy[i].point
       }
       if (String(gon.synergy[i].enemy) == String(names[j])) {
      horizon=champs.indexOf(gon.synergy[i].me);
      points[horizon]=points[horizon]+gon.synergy[i].point
       }
      }
     }
  //カウンターの処理
  for (var i=0; i<gon.counter.length; i++) {
     for (var j=4; j<9; j++) {
      if (String(gon.counter[i].me) == String(names[j])) {
      horizon=champs.indexOf(gon.counter[i].enemy);
      points[horizon]=points[horizon]-gon.counter[i].point
       }
      }
     }
   for (var i=0; i<gon.counter.length; i++) {
     for (var j=4; j<9; j++) {
      if (String(gon.counter[i].enemy) == String(names[j])) {
      horizon=champs.indexOf(gon.counter[i].me);
      points[horizon]=points[horizon]+gon.counter[i].point
       }
      }
     }
     
     var pairs = champs.map(function(champ, i) {
  return { champ: champ, point: points[i] };
});

// pointsの値に基づいてソート
pairs.sort(function(a, b) {
  return b.point - a.point;
});

// ソートされたchamps配列を取得
var sortedChamps = pairs.map(function(pair) {
  return pair.champ;
});
// 以前の画像を削除します。
document.getElementById('imageContainer').innerHTML = '';

// sortedChampsの各要素に対応する画像を作成して表示します。
pairs.forEach(function(pair) {
  var img = document.createElement('img');
  img.src = '/champs/' + pair.champ + '/image';
  img.width = 140;  // 幅を100pxに設定
  img.height = 140; // 高さを100pxに設定

  // 画像の横にpointとnameを表示します。
  var text = document.createTextNode(' ' + pair.champ + ': ' + pair.point);

  var div = document.createElement('div');
  div.appendChild(img);
  div.appendChild(text);

  document.getElementById('imageContainer').appendChild(div);

  // 画像の後に改行を追加します。
  var br = document.createElement('br');
  document.getElementById('imageContainer').appendChild(br);
});
    //シチュエーションの処理  
    //matchCount = champs.indexOf(gon.synergy.enemy)
  matchCount = sortedChamps
  document.getElementById('matchCountContainer').textContent = matchCount;
}
</script>