<style>

  .link-box {
    display: flex; /* 追加: 子要素を行方向に配置します */
    align-items: center; /* 追加: 子要素を垂直方向に中央揃えにします */
    margin-bottom: 20px;
  }
  .link-box img {
    margin-right: 10px; /* 追加: 画像と名前の間に余白を追加します */
  }
  .default-image {
    border-radius: 10px; /* 追加: 背景の角をなくします */
    width: 100px; /* 画像の幅を指定します */
    height: 100px; /* 画像の高さを指定します */
    background-color: white; /* 背景色を白にします */
    border: 1px solid #ddd; /* 枠線を灰色にします */
    display: flex; /* 子要素を行方向に配置します */
    align-items: center; /* 子要素を垂直方向に中央揃えにします */
    justify-content: center; /* 子要素を水平方向に中央揃えにします */
  }
  .default-image img {
    object-fit: contain; /* 追加: 画像が枠内に収まるように調整します */
    width: 100%; /* 追加: 画像の幅を100%に設定します */
    height: 100%; /* 追加: 画像の高さを100%に設定します */
  }
  .search-form {
    background-color: #666; /* グレー色をもう少し濃くします */
    border-radius: 25px; /* 角をなくして丸みを帯びた形にします */
    padding: 10px; /* 内側の余白を追加します */
    display: flex; /* ラベルと入力エリアを一行に並べます */
    align-items: center; /* ラベルと入力エリアを中央揃えにします */
  margin-bottom: 20px; /* 追加: 要素間に空白を追加します */
  }
  .search-form label {
    margin-right: 10px; /* ラベルと入力エリアの間に余白を追加します */
  }
  .search-form input[type="text"] {
    border: none; /* テキストボックスの枠線を消します */
    background-color: transparent; /* テキストボックスの背景色を透明にします */
    flex-grow: 1; /* 入力エリアを可能な限り広げます */
    border-radius: 15px; /* 入力エリアの角を丸くします */
  }
  li {
    list-style-type: none;
  }
</style>

<li>
<%= search_form_for @q, html: { class: 'search-form' } do |f| %>
  <%= f.label :name_cont%>
  <%= f.search_field :name_cont %>
  <%= f.submit "メタを検索"%>
<% end %>

<div class="link-container">
  <% @metamonall.each do |sap| %>
    <div class="link-box">
      <% if sap.image.attached? %>
        <%= image_tag(url_for(sap.image), class: "icon") %>
      <% else %>
        <div class="default-image">
          <%= image_tag("本の無料アイコン素材2.png", class: "icon") %>
        </div>
      <% end %>
      <%= link_to sap.name, {controller: "scores", action: "easymain", usertemp_id: sap.tempuser_id, user_id: sap.user_id, metamon_id: sap.truemetamonid} %>
    </div>
    <hr>
  <% end %>
</div>